*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    top: 50%;
}

.hideItem{
    display: none;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.headerLogoArea{
    width: 20%;
    height: 90px;
    display: flex;
    align-self: flex-start;
}

.rwdButtonArea{
    display: none;
}

.rwdButton{
    display: none;
}

.headerLogo{
    width: 200px;
    height: 90px;
    cursor: pointer;
}

.headerMenu{
    padding-right: 15px;
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.headerIcons{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: fit-content;
}

.topMenuItem{
    font-family: Cursive, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(61, 61, 61);
    font-weight: 550;
    padding-left: 10px;
    text-decoration: none;
    transition: all 0.5s;
}

.topMenuItem:hover{
    color: rgb(255, 106, 0);
}

.topMenuItemActive{
    color: rgb(255, 106, 0);
}

.fbLogo{
    cursor: pointer;
    transform: scale(0.7);
}

.content1{
    width: 100%;
    min-height: calc(100vh - 90px);
    max-height: fit-content;
    padding-top: 90px;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.907) 100%),
    url(./assets/laptop1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box1{
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 30px;
    align-items: center;
    min-width: 100%;
    max-width: 1440px;
    height: 100%;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}

.header1{
    font-family: Cursive, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 900;
}

.header2{
    font-family: Cursive, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 600;
}

.aboutMeButton{
    all: unset;
    margin-top: 30px;
    background-color:#44c767;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
    color: rgb(255, 255, 255);
    font-family: Cursive, Helvetica, sans-serif;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 2px 0px #000000;
    opacity: 0.9;
    transition: all 0.7s;
}

.aboutMeButton:hover{
    background-color:#194826;
    transition: all 0.7s;
}

.aboutMeDescription{
    margin: 30px 0px 30px 0px;
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color:  rgb(40, 36, 36);
    opacity: 0.8;
    font-family: Cursive, Helvetica, sans-serif;
	font-size:25px;
    max-width: 1440px;
    text-align: justify;
    /* display: block; */
    -webkit-animation: fadeIn80 1s;
    animation: fadeIn80 1s;
}

@-webkit-keyframes fadeIn80 {
    from { opacity: 0; }
    to { opacity: 0.8; }
}
@keyframes fadeIn80 {
    from { opacity: 0; }
    to { opacity: 0.8; }
}

@-webkit-keyframes fadeOut80 {
    from { opacity: 0.8; }
    to { opacity: 0; }
}
@keyframes fadeOut80 {
    from { opacity: 0.8; }
    to { opacity: 0; }
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.content2{
    width: 100%;
    min-height: calc(100vh - 90px);
    max-height: fit-content;
    /* padding-top: 90px; */
    background-color: rgb(0, 0, 0);
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.907) 100%),
    url(./assets/laptop2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box2{
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 30px;
    align-items: center;
    min-width: 100%;
    max-width: 1440px;
    height: 100%;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}

.header3{
    font-family: Cursive, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 900;
}

.header4{
    font-family: Cursive, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 600;
}

.servicesDescription{
    margin: 30px 0px 30px 0px;
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color:  rgb(40, 36, 36);
    opacity: 0.8;
    font-family: Cursive, Helvetica, sans-serif;
	font-size:25px;
    max-width: 1440px;
    text-align: justify;
}

.content3{
    width: 100%;
    height: fit-content;
    /* min-height: calc(100vh - 90px); */
    max-height: fit-content;
    /* padding-top: 90px; */
    background-color: rgb(0, 0, 0);
}

.header5{
    font-family: Cursive, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 900;
}

.header6{
    font-family: Cursive, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 600;
}

.contact{
    margin: 30px 0px 30px 0px;
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color:  rgb(40, 36, 36);
    opacity: 0.8;
    font-family: Cursive, Helvetica, sans-serif;
	font-size:30px;
    max-width: 1440px;
    min-width: 50%;
    text-align: center;
}

.footer{
    width: 100%;
    height: fit-content;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Cursive, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.footerLink{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* responsive styles */
@media screen and (max-width: 767px){

    header{
        padding: 0px;
        margin: 0;
        flex-direction: column;
        height: fit-content;
    }

    .headerLogoArea{
        padding: 0px;
        margin: 0;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }

    .rwdButton{
        display: block;
    }

    .headerMenu{
        padding: 0px;
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .topMenuItem{
        padding-left: 5px;
    }

    .content1{
        width: 100%;
        height: fit-content;
    }

    .box1{
        margin: auto;
        width: 90%;
        height: 100%;
        padding-top: 100px;
    }

    .header1{
        font-size: 40px;
        font-weight: 900;
    }
    
    .header2{
        font-size: 20px;
    }

    .aboutMeDescription{
        text-align: start;
    }

    .content2{
        width: 100%;
        height: fit-content;
    }

    .box2{
        margin: auto;
        width: 90%;
        height: 100%;
        padding-top: 100px;
    }

    .header3{
        font-size: 40px;
        font-weight: 900;
    }
    
    .header4{
        font-size: 20px;
    }

    .servicesDescription{
        text-align: start;
    }

    .content3{
        width: 100%;
        height: justify;
    }

}
